uk-ets-itl-commons/uk-ets-itl-ws-types/src/main/resources/wsdl/transactionlog.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TransactionLogService" targetNamespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0" xmlns:tns="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0" xmlns:typens="urn:KyotoProtocol:RegistrySystem:ITL:Types:1.0:0.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<import namespace="urn:KyotoProtocol:RegistrySystem:ITL:Types:1.0:0.0" location="common.wsdl"/>
	<portType name="TransactionLogPort">
		<operation name="acceptMessage">
			<input message="typens:acceptMessageRequest"/>
			<output message="typens:acceptMessageResponse"/>
		</operation>
		<operation name="acceptProposal">
			<input message="typens:acceptProposalRequest"/>
			<output message="typens:acceptProposalResponse"/>
		</operation>
		<operation name="acceptNotification">
			<input message="typens:acceptNotificationRequest"/>
			<output message="typens:acceptNotificationResponse"/>
		</operation>
		<operation name="getTransactionStatus">
			<input message="typens:getTransactionStatusRequest"/>
			<output message="typens:getTransactionStatusResponse"/>
		</operation>
		<operation name="receiveReconciliationResult">
			<input message="typens:receiveReconciliationResultRequest"/>
			<output message="typens:receiveReconciliationResultResponse"/>
		</operation>
		<operation name="provideAuditTrail">
			<input message="typens:provideAuditTrailRequest"/>
			<output message="typens:provideAuditTrailResponse"/>
		</operation>
		<operation name="provideTotals">
			<input message="typens:provideTotalsRequest"/>
			<output message="typens:provideTotalsResponse"/>
		</operation>
		<operation name="provideUnitBlocks">
			<input message="typens:provideUnitBlocksRequest"/>
			<output message="typens:provideUnitBlocksResponse"/>
		</operation>
		<operation name="receiveAuditTrail">
			<input message="typens:receiveAuditTrailRequest"/>
			<output message="typens:receiveAuditTrailResponse"/>
		</operation>
		<operation name="receiveTotals">
			<input message="typens:receiveTotalsRequest"/>
			<output message="typens:receiveTotalsResponse"/>
		</operation>
		<operation name="receiveUnitBlocks">
			<input message="typens:receiveUnitBlocksRequest"/>
			<output message="typens:receiveUnitBlocksResponse"/>
		</operation>
	</portType>
	<binding name="TransactionLogBinding" type="tns:TransactionLogPort">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
		<operation name="acceptMessage">
			<soap:operation soapAction="acceptMessage" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="acceptProposal">
			<soap:operation soapAction="acceptProposal" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="acceptNotification">
			<soap:operation soapAction="acceptNotification" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="getTransactionStatus">
			<soap:operation soapAction="getTransactionStatus" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="receiveReconciliationResult">
			<soap:operation soapAction="receiveReconciliationResult" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="provideAuditTrail">
			<soap:operation soapAction="provideAuditTrail" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="provideTotals">
			<soap:operation soapAction="provideTotals" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="provideUnitBlocks">
			<soap:operation soapAction="provideUnitBlocks" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="receiveAuditTrail">
			<soap:operation soapAction="receiveAuditTrail" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="receiveTotals">
			<soap:operation soapAction="receiveTotals" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
		<operation name="receiveUnitBlocks">
			<soap:operation soapAction="receiveUnitBlocks" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:KyotoProtocol:RegistrySystem:ITL:1.0:0.0"/>
			</output>
		</operation>
	</binding>
	<service name="TransactionLogService">
		<port name="TransactionLogPort" binding="tns:TransactionLogBinding">
			<soap:address location="http://itladdress.int/itlws/TransactionLogService"/>
		</port>
	</service>
</definitions>
